{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.submit) }}
        </form>
        <p>Forgot your password? <a href="{{ url_for('auth.forgot_password') }}">Reset Password</a></p>
    </div>
</div>
{% endblock %}
